/DerivedData
Guess Who.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate


Guess Who.xcodeproj/xcuserdata/dima.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Guess Who.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState (Dimas-MacBook-Pro's conflicted copy 2013-05-22).xcuserstate

theQuiz.xcodeproj/project.xcworkspace/xcuserdata/dima.xcuserdatad/UserInterfaceState.xcuserstate
