<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count</key>
	<integer>100</integer>
	<key>questions</key>
	<array>
		<dict>
			<key>question</key>
			<string>The name of this fruit is translated as &quot;Chinese apple&quot;?</string>
			<key>answer</key>
			<string>Orange</string>
			<key>variants</key>
			<array>
				<string>Orange</string>
				<string>Watermelon</string>
				<string>Papaya</string>
				<string>Melon</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>In which year group The Beatles broke up?</string>
			<key>answer</key>
			<string>1970 year</string>
			<key>variants</key>
			<array>
				<string>1970 year</string>
				<string>1972 year</string>
				<string>1974 year</string>
				<string>1968 year</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>In what city was born the legendary British band The Beatles?</string>
			<key>answer</key>
			<string>Liverpool</string>
			<key>variants</key>
			<array>
				<string>Liverpool</string>
				<string>London</string>
				<string>Manchester</string>
				<string>Hamburg</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>The most expensive in the world of the entertainment industry is recognized as a clip of Michael Jackson&apos;s song?</string>
			<key>answer</key>
			<string>&quot;Scream&quot;</string>
			<key>variants</key>
			<array>
				<string>&quot;Scream&quot;</string>
				<string>&quot;Bad&quot;</string>
				<string>&quot;Thriller&quot;</string>
				<string>&quot;Dangerous&quot;</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many times did Michael Jackson got into the Guinness Book of Records for individual achievement in music?</string>
			<key>answer</key>
			<string>30</string>
			<key>variants</key>
			<array>
				<string>30</string>
				<string>25</string>
				<string>13</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many kids in the family of Joseph and Katherine Jackson?</string>
			<key>answer</key>
			<string>10</string>
			<key>variants</key>
			<array>
				<string>10</string>
				<string>7</string>
				<string>5</string>
				<string>12</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What was the primary cause of death of Bob Marley?</string>
			<key>answer</key>
			<string>Football injury</string>
			<key>variants</key>
			<array>
				<string>Football injury</string>
				<string>Drug overdose</string>
				<string>Gunshoot</string>
				<string>Inherited disease</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>The birthplace of Bob Marley?</string>
			<key>answer</key>
			<string>Jamaica</string>
			<key>variants</key>
			<array>
				<string>Jamaica</string>
				<string>USA</string>
				<string>Great Britain</string>
				<string>Ephiopia</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the style of music that is heard in the songs of Bob Marley?</string>
			<key>answer</key>
			<string>Reggae</string>
			<key>variants</key>
			<array>
				<string>Reggae</string>
				<string>Rap</string>
				<string>Jazz</string>
				<string>Funk</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Freddie Mercury - is a pseudonym. And what is the real name of the singer?</string>
			<key>answer</key>
			<string>Farrokh Bulsara</string>
			<key>variants</key>
			<array>
				<string>Farrokh Bulsara</string>
				<string>Fidel Beleser</string>
				<string>Frederick Baltazar</string>
				<string>Friedrich Merky</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>In what year did the group Queen gave the last concert with Freddie Mercury?</string>
			<key>answer</key>
			<string>1986 year</string>
			<key>variants</key>
			<array>
				<string>1986 year</string>
				<string>1987 year</string>
				<string>1976 year</string>
				<string>1991 year</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>The highest sound of wind makes a flute piccolo. What does the word &quot;piccolo&quot;?</string>
			<key>answer</key>
			<string>Small</string>
			<key>variants</key>
			<array>
				<string>Small</string>
				<string>Large</string>
				<string>Long</string>
				<string>Thin</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the genre, which is based on a combination of drum machines and samplers?</string>
			<key>answer</key>
			<string>new-school</string>
			<key>variants</key>
			<array>
				<string>new-school</string>
				<string>hardcore-rap</string>
				<string>gangsta-rap</string>
				<string>old-school</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>In what year was born subculture of hip-hop?</string>
			<key>answer</key>
			<string>1974 year</string>
			<key>variants</key>
			<array>
				<string>1972 year</string>
				<string>1970 year</string>
				<string>1982 year</string>
				<string>1974 year</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When was the first exhibition of the Impressionists?</string>
			<key>answer</key>
			<string>1874 year</string>
			<key>variants</key>
			<array>
				<string>1892 year</string>
				<string>1874 year</string>
				<string>1884 year</string>
				<string>1790 year</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented the flexible photographic film?</string>
			<key>answer</key>
			<string>Richard Maddox</string>
			<key>variants</key>
			<array>
				<string>Richard Maddox</string>
				<string>Thomas Sutton</string>
				<string>George Eastman</string>
				<string>Frederick Scott Archer</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>The statue of Olympian Zeus has ruined this disaster of ... ?</string>
			<key>answer</key>
			<string>fire</string>
			<key>variants</key>
			<array>
				<string>fire</string>
				<string>earthquake</string>
				<string>flood</string>
				<string>time</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>On what island was the Lighthouse of Alexandria?</string>
			<key>answer</key>
			<string>Pharos</string>
			<key>variants</key>
			<array>
				<string>Pharos</string>
				<string>Lesbos</string>
				<string>Knossos</string>
				<string>Crete</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Hanging Gardens of Babylon were in the territory of the modern state?</string>
			<key>answer</key>
			<string>Iraq</string>
			<key>variants</key>
			<array>
				<string>Iraq</string>
				<string>Iran</string>
				<string>Syria</string>
				<string>Israel</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>In which country you are if it is King Albert II?</string>
			<key>answer</key>
			<string>Belgium</string>
			<key>variants</key>
			<array>
				<string>Belgium</string>
				<string>France</string>
				<string>England</string>
				<string>Norway</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which country is &quot;country of a thousand lakes&quot;</string>
			<key>answer</key>
			<string>Finland</string>
			<key>variants</key>
			<array>
				<string>Finland</string>
				<string>Canada</string>
				<string>Italy</string>
				<string>Russia</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which country is known as the &quot;Land of St. Patrick&apos;s&quot;</string>
			<key>answer</key>
			<string>Ireland</string>
			<key>variants</key>
			<array>
				<string>Ireland</string>
				<string>Iceland</string>
				<string>England</string>
				<string>Italy</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Among U.S. presidents some of them have the Nobel Prize. Which of these people do not get it?</string>
			<key>answer</key>
			<string>Dwight Eisenhower</string>
			<key>variants</key>
			<array>
				<string>Dwight Eisenhower</string>
				<string>Barack Obama</string>
				<string>Theodore Roosevelt</string>
				<string>Woodrow Wilson</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>In the U.S., the man also known as the 22nd, and as the 24th president.</string>
			<key>answer</key>
			<string>Grover Cleveland</string>
			<key>variants</key>
			<array>
				<string>Grover Cleveland</string>
				<string>Theodore Roosevelt</string>
				<string>Ulysses S. Grant</string>
				<string>William McKinley</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What kind of vegetable in the Middle Ages was considered a favorite treat gnomes?</string>
			<key>answer</key>
			<string>Carrot</string>
			<key>variants</key>
			<array>
				<string>Carrot</string>
				<string>Potato</string>
				<string>Apple</string>
				<string>Cabbage</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many hours a day sleeping ferrets?</string>
			<key>answer</key>
			<string>20 hours</string>
			<key>variants</key>
			<array>
				<string>20 hours</string>
				<string>18 hours</string>
				<string>15 hours</string>
				<string>16 hours</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How fast can run the Polar Bears?</string>
			<key>answer</key>
			<string>40 km/h</string>
			<key>variants</key>
			<array>
				<string>40 km/h</string>
				<string>60 km/h</string>
				<string>45 km/h</string>
				<string>50 km/h</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What kind of bird is considered the smartest?</string>
			<key>answer</key>
			<string>Crow</string>
			<key>variants</key>
			<array>
				<string>Crow</string>
				<string>Hummingbird</string>
				<string>Penguin</string>
				<string>Parrot</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many time per minute beats whales heart?</string>
			<key>answer</key>
			<string>9</string>
			<key>variants</key>
			<array>
				<string>9</string>
				<string>13</string>
				<string>64</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many minutes should boil an ostrich egg?</string>
			<key>answer</key>
			<string>40 min</string>
			<key>variants</key>
			<array>
				<string>40 min</string>
				<string>20 min</string>
				<string>15 min</string>
				<string>10 min</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many people in Estonia have blue eyes?</string>
			<key>answer</key>
			<string>99%</string>
			<key>variants</key>
			<array>
				<string>1%</string>
				<string>99%</string>
				<string>56%</string>
				<string>23%</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the higher score made in a Soccer game?</string>
			<key>answer</key>
			<string>149-0</string>
			<key>variants</key>
			<array>
				<string>78-0</string>
				<string>149-0</string>
				<string>124-0</string>
				<string>63-0</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How long does it take for human brain to retieve a memory?</string>
			<key>answer</key>
			<string>0.0004 seconds</string>
			<key>variants</key>
			<array>
				<string>0.0004 seconds</string>
				<string>0.004 seconds</string>
				<string>0.04 seconds</string>
				<string>0.00004 seconds</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How long the average person can live without eating any food? </string>
			<key>answer</key>
			<string>1 month</string>
			<key>variants</key>
			<array>
				<string>1 month</string>
				<string>1.5 month</string>
				<string>2 weeks</string>
				<string>3 weeks</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>People with which eye color see better in the dark?</string>
			<key>answer</key>
			<string>Blue</string>
			<key>variants</key>
			<array>
				<string>Blue</string>
				<string>Green</string>
				<string>Brown</string>
				<string>Grey</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How many people Genghis Khan killed in 1221 in one hour? </string>
			<key>answer</key>
			<string>1,748,000</string>
			<key>variants</key>
			<array>
				<string>1,748,000</string>
				<string>1,250,000</string>
				<string>946,000</string>
				<string>2,145,000</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which of these don&apos;t form armies and don&apos;t go to &quot;war&quot;?</string>
			<key>answer</key>
			<string>Lions</string>
			<key>variants</key>
			<array>
				<string>Lions</string>
				<string>Humans</string>
				<string>Ants</string>
				<string>Crows</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How much cost a 17 minute battle scene int the movie &quot;The Matrix Reloaded&quot;?</string>
			<key>answer</key>
			<string>Over $40 million</string>
			<key>variants</key>
			<array>
				<string>Over $40 million</string>
				<string>Over $30 million</string>
				<string>Over $35 million</string>
				<string>Over $45 million</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>The most push ups performed in one day by a single person? </string>
			<key>answer</key>
			<string>46,001</string>
			<key>variants</key>
			<array>
				<string>46,001</string>
				<string>1,562</string>
				<string>15,942</string>
				<string>27,259</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How much of world currency exists as physical cash?</string>
			<key>answer</key>
			<string>8%</string>
			<key>variants</key>
			<array>
				<string>8%</string>
				<string>13%</string>
				<string>17%</string>
				<string>5%</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Average amount of time a woman can keep a secret?</string>
			<key>answer</key>
			<string>47 hours and 15 minutes</string>
			<key>variants</key>
			<array>
				<string>35 hours and 30 minutes</string>
				<string>15 hours</string>
				<string>27 hours and 15 minutes</string>
				<string>47 hours and 15 minutes</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When Pluto will complete its first full orbit around the Sun since it&apos;s discovery?</string>
			<key>answer</key>
			<string>2178</string>
			<key>variants</key>
			<array>
				<string>2178</string>
				<string>2014</string>
				<string>2112</string>
				<string>2076</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which of these Albert Einstein never wore?</string>
			<key>answer</key>
			<string>Socks</string>
			<key>variants</key>
			<array>
				<string>Socks</string>
				<string>Ties</string>
				<string>Jackets</string>
				<string>Suits</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which color causes brain to release calming hormones?</string>
			<key>answer</key>
			<string>Blue</string>
			<key>variants</key>
			<array>
				<string>Blue</string>
				<string>Green</string>
				<string>Red</string>
				<string>Yellow</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Why people started to shake their hand with strangers?</string>
			<key>answer</key>
			<string>To show they don&apos;t have a gun</string>
			<key>variants</key>
			<array>
				<string>To show they don&apos;t have a gun</string>
				<string>Just to be friendly</string>
				<string>To show their support</string>
				<string>To feel each other</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the most common name in the world?</string>
			<key>answer</key>
			<string>Mohammed</string>
			<key>variants</key>
			<array>
				<string>Mohammed</string>
				<string>Lee</string>
				<string>John</string>
				<string>Youssef</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Scientific ter of fear of going to school?</string>
			<key>answer</key>
			<string>Didaskaleinophobia</string>
			<key>variants</key>
			<array>
				<string>Didaskaleinophobia</string>
				<string>Dikephobia</string>
				<string>Maniaphobia</string>
				<string>Nelophobia</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When Titanic II is scheduled to set sail?</string>
			<key>answer</key>
			<string>2016 year</string>
			<key>variants</key>
			<array>
				<string>2016 year</string>
				<string>2017 year</string>
				<string>2020 year</string>
				<string>2015 year</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which of these a disease that allows people to remember every detail of their lives?</string>
			<key>answer</key>
			<string>Hyperthymesia</string>
			<key>variants</key>
			<array>
				<string>Hyperthymesia</string>
				<string>Amylose</string>
				<string>Reye Syndrome</string>
				<string>Wolman Disease</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Having excessive body hair is linked to having ... ?</string>
			<key>answer</key>
			<string>higher intelligence</string>
			<key>variants</key>
			<array>
				<string>higher intelligence</string>
				<string>longer lifetime</string>
				<string>big nose</string>
				<string>long legs</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the weight of the heaviest mango in the world?</string>
			<key>answer</key>
			<string>3.5 kg</string>
			<key>variants</key>
			<array>
				<string>3.5 kg</string>
				<string>2.5 kg</string>
				<string>3.7 kg</string>
				<string>2.7 kg</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>How much tooth of John Lennon cost in November 2011?</string>
			<key>answer</key>
			<string>31 200 dollars</string>
			<key>variants</key>
			<array>
				<string>31 200 dollars</string>
				<string>20 800 dollars</string>
				<string>16 500 dollars</string>
				<string>41 000 dollars</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which city is recognized as the poorest cities in England?</string>
			<key>answer</key>
			<string>Jaywick</string>
			<key>variants</key>
			<array>
				<string>Jaywick</string>
				<string>St. Asaph</string>
				<string>St. David&apos;s</string>
				<string>Thelwall</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is height of the biggest printed book in the world?</string>
			<key>answer</key>
			<string>3.00 m</string>
			<key>variants</key>
			<array>
				<string>3.00 m</string>
				<string>2.56 m</string>
				<string>3.25 m</string>
				<string>2.90 m</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>1 September 2010 the German company Ravensburger launches the biggest puzzle in the world, which consists of ... ?</string>
			<key>answer</key>
			<string>32 000 items</string>
			<key>variants</key>
			<array>
				<string>32 000 items</string>
				<string>28 000 items</string>
				<string>64 000 items</string>
				<string>16 000 items</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which of these movies awarded 4 Oscars?</string>
			<key>answer</key>
			<string>The Matrix</string>
			<key>variants</key>
			<array>
				<string>The Matrix</string>
				<string>The Dark Knight</string>
				<string>The Godfather</string>
				<string>The Shawshank Redemption</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the maximum speed reaches Bugatti Veyron Super Sport?</string>
			<key>answer</key>
			<string>434 km/h</string>
			<key>variants</key>
			<array>
				<string>431 km/h</string>
				<string>434 km/h</string>
				<string>450 km/h</string>
				<string>442 km/h</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Where lived the character of Sherlock Holmes?</string>
			<key>answer</key>
			<string>Baker Street 221B</string>
			<key>variants</key>
			<array>
				<string>Baker Street 221B</string>
				<string>Brook Street 15</string>
				<string>Maddox Street 118A</string>
				<string>Carnaby Street 192</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>That the output from such a chemical reaction: Carbon + Oxygen?</string>
			<key>answer</key>
			<string>Carbonic acid gas</string>
			<key>variants</key>
			<array>
				<string>Carbonic acid gas</string>
				<string>Water</string>
				<string>Carbohydrates</string>
				<string>Oxalic anhydride</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What was invented in 1643 year by Evangelista Torricelli?</string>
			<key>answer</key>
			<string>Barometer</string>
			<key>variants</key>
			<array>
				<string>Barometer</string>
				<string>Microscope</string>
				<string>Lamp</string>
				<string>Steam engine</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Which of these invented gunpowder?</string>
			<key>answer</key>
			<string>Roger Bacon</string>
			<key>variants</key>
			<array>
				<string>Roger Bacon</string>
				<string>Leonardo da Vinci</string>
				<string>Cai Lun</string>
				<string>Bi Sheng</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When was invented first cannon?</string>
			<key>answer</key>
			<string>1128</string>
			<key>variants</key>
			<array>
				<string>1128</string>
				<string>1342</string>
				<string>988</string>
				<string>1024</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the total length of the London Underground?</string>
			<key>answer</key>
			<string>408 km</string>
			<key>variants</key>
			<array>
				<string>408 km</string>
				<string>259 km</string>
				<string>342 km</string>
				<string>390 km</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Where Napoleone was imprisoned?</string>
			<key>answer</key>
			<string>Island of St. Helena</string>
			<key>variants</key>
			<array>
				<string>Island of St. Helena</string>
				<string>Island of Corsica</string>
				<string>Island of Sicilia</string>
				<string>Island of St.Elma</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented microscope?</string>
			<key>answer</key>
			<string>Zacharias Janssen</string>
			<key>variants</key>
			<array>
				<string>Zacharias Janssen</string>
				<string>Giovanni Faber</string>
				<string>Galileo Galilei</string>
				<string>Hans Lippershey</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented thermometer? </string>
			<key>answer</key>
			<string>Galileo Galilei</string>
			<key>variants</key>
			<array>
				<string>Galileo Galilei</string>
				<string>Cornelis Drebbel</string>
				<string>Giuseppe Biancani</string>
				<string>Robert Fludd</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When was invented telescope?</string>
			<key>answer</key>
			<string>1608</string>
			<key>variants</key>
			<array>
				<string>1608</string>
				<string>1592</string>
				<string>1619</string>
				<string>1602</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When Chernobyl nuclear station exploded?</string>
			<key>answer</key>
			<string>1986</string>
			<key>variants</key>
			<array>
				<string>1986</string>
				<string>1983</string>
				<string>1987</string>
				<string>1980</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Where was invented the crossbow?</string>
			<key>answer</key>
			<string>Greece</string>
			<key>variants</key>
			<array>
				<string>Greece</string>
				<string>England</string>
				<string>Turkey</string>
				<string>Italy</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the biggest berry in the world?</string>
			<key>answer</key>
			<string>Watermelon</string>
			<key>variants</key>
			<array>
				<string>Watermelon</string>
				<string>Pineapple</string>
				<string>Persimmon</string>
				<string>Avocado</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented the ballpoint pen?</string>
			<key>answer</key>
			<string>Bíró László</string>
			<key>variants</key>
			<array>
				<string>Marcel Bich</string>
				<string>Bíró László</string>
				<string>Elsa Schick</string>
				<string>Tim Wright</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who created the first car with steam engine?</string>
			<key>answer</key>
			<string>Nicolas-Joseph Cugnot</string>
			<key>variants</key>
			<array>
				<string>Nicolas-Joseph Cugnot</string>
				<string>Jöns Cederholm</string>
				<string>Richard Trevithick</string>
				<string>Isaac Newton</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is the tallest living person in the world?</string>
			<key>answer</key>
			<string>Leonid Stadnyk</string>
			<key>variants</key>
			<array>
				<string>Leonid Stadnyk</string>
				<string>Robert Wadlow</string>
				<string>Sultan Kösen</string>
				<string>Zhang Juncai</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>What is the fastest mammal in the world?</string>
			<key>answer</key>
			<string>Cheetah</string>
			<key>variants</key>
			<array>
				<string>Cheetah</string>
				<string>Lion</string>
				<string>Antelope</string>
				<string>Eagle</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is the tallest person ever known?</string>
			<key>answer</key>
			<string>Robert Wadlow</string>
			<key>variants</key>
			<array>
				<string>Robert Wadlow</string>
				<string>Leonid Stadnyk</string>
				<string>John Rogan</string>
				<string>John F. Carroll</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is the fastes football player in the world?</string>
			<key>answer</key>
			<string>Cristiano Ronaldo</string>
			<key>variants</key>
			<array>
				<string>Christiano Ronaldo</string>
				<string>Peter Crouch</string>
				<string>Wayne Rooney</string>
				<string>Ronaldinho</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who first step on the moon?</string>
			<key>answer</key>
			<string>Neil Armstrong</string>
			<key>variants</key>
			<array>
				<string>Neil Armstrong</string>
				<string>Alan Shepherd</string>
				<string>John Glenn </string>
				<string>Yuri Gagarin</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>The first mass production electirc car?</string>
			<key>answer</key>
			<string>Tesla</string>
			<key>variants</key>
			<array>
				<string>Tesla</string>
				<string>Bentley</string>
				<string>Ford</string>
				<string>Suzuki</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>When World War II started?</string>
			<key>answer</key>
			<string>1939</string>
			<key>variants</key>
			<array>
				<string>1939</string>
				<string>1940</string>
				<string>1914</string>
				<string>1918</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is Google co-founder</string>
			<key>answer</key>
			<string>Sergey Brin</string>
			<key>variants</key>
			<array>
				<string>Sergey Brin</string>
				<string>Eric Schmidt</string>
				<string>Marissa Mayer</string>
				<string>Hubert Chang</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is author of &quot;Eragon&quot; thrilogy?</string>
			<key>answer</key>
			<string>Christopher Paolini</string>
			<key>variants</key>
			<array>
				<string>Christopher Paolini</string>
				<string>John Palencar</string>
				<string>Stefen Fangmeier</string>
				<string>Joanne Rowling</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who said: “The man who does not read has no advantage over the man who cannot read.”?</string>
			<key>answer</key>
			<string>Mark Twain</string>
			<key>variants</key>
			<array>
				<string>Mark Twain</string>
				<string>Groucho Marx</string>
				<string>Malcolm X</string>
				<string>Jane Austen</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Whos quote it is: &quot;Be yourself; everyone else is already taken.&quot;? </string>
			<key>answer</key>
			<string>Oscar Wilde</string>
			<key>variants</key>
			<array>
				<string>Oscar Wilde</string>
				<string>Mark Twain</string>
				<string>Jack London</string>
				<string>Friedrich Nietzsche</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who said &quot;Don&apos;t cry because it&apos;s over, smile because it happened&quot;?</string>
			<key>answer</key>
			<string>Dr. Seuss</string>
			<key>variants</key>
			<array>
				<string>Dr. Seuss</string>
				<string>Marilyn Monroe</string>
				<string>Oscar Wilde</string>
				<string>Mahatma Gandhi</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who &apos;clearly thinks of himself as a hacker&apos;?</string>
			<key>answer</key>
			<string>Mark Zuckerberg</string>
			<key>variants</key>
			<array>
				<string>Mark Zuckerberg</string>
				<string>Bill Gates</string>
				<string>Steve Jobs</string>
				<string>Jack Dorsey</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who thought that Newtonian mechanics was no longer enough to reconcile the laws of classical mechanics?</string>
			<key>answer</key>
			<string>Albert Einstein</string>
			<key>variants</key>
			<array>
				<string>Albert Einstein</string>
				<string>Michael Faraday</string>
				<string>Wilhelm Röntgen</string>
				<string>Ernest Rutherford</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was Robinson Crusoe bestfriend?</string>
			<key>answer</key>
			<string>Friday</string>
			<key>variants</key>
			<array>
				<string>Friday</string>
				<string>Saturday</string>
				<string>Sunday</string>
				<string>Wednesday</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who author of &quot;The Old Man And The Sea&quot;?</string>
			<key>answer</key>
			<string>Ernest Hemingway</string>
			<key>variants</key>
			<array>
				<string>Ernest Hemingway</string>
				<string>Daniel Defoe</string>
				<string>Oscar Wilde</string>
				<string>Edgar Allan Poe</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was director of &quot;Titanic&quot; movie</string>
			<key>answer</key>
			<string> James Cameron</string>
			<key>variants</key>
			<array>
				<string> James Cameron</string>
				<string>Christopher Nolan</string>
				<string>Martin Scorsese</string>
				<string>Luc Besson</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented tyre?</string>
			<key>answer</key>
			<string>Robert William Thomson</string>
			<key>variants</key>
			<array>
				<string>John Boyd Dunlop</string>
				<string>William Harvey</string>
				<string>Robert William Thomson</string>
				<string>Jack Bentley</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who created james Bond charecter in 1953?</string>
			<key>answer</key>
			<string>Ian Fleming</string>
			<key>variants</key>
			<array>
				<string>John Gardner</string>
				<string>Ian Fleming</string>
				<string>William Boyd</string>
				<string>Sebastian Faulks</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who said: &quot;To be or not to be&quot;?</string>
			<key>answer</key>
			<string>William Shakespear</string>
			<key>variants</key>
			<array>
				<string>William Shakespear</string>
				<string>Jack London</string>
				<string>Paulo Coelho</string>
				<string>Franz Kafka</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who discovered penicillin?</string>
			<key>answer</key>
			<string>Alexander Fleming</string>
			<key>variants</key>
			<array>
				<string>Mary Anning</string>
				<string>Charles Darwin</string>
				<string>Erwin Chargaff</string>
				<string>Alexander Fleming</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was author of the U.S. Declaration of Independence?</string>
			<key>answer</key>
			<string>Thomas Jefferson</string>
			<key>variants</key>
			<array>
				<string>George Washington</string>
				<string>Abraham Lincoln</string>
				<string>William Harrison</string>
				<string>Thomas Jefferson</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was one of Microsoft co-founder?</string>
			<key>answer</key>
			<string>Paul Allen</string>
			<key>variants</key>
			<array>
				<string>Steve Wozniac</string>
				<string>Paul Allen</string>
				<string>Steve Balmer</string>
				<string>Jonathan Ive</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who developed assembly line?</string>
			<key>answer</key>
			<string>Henry Ford</string>
			<key>variants</key>
			<array>
				<string>Henry Ford</string>
				<string>William Bentley</string>
				<string>Joseph Henry</string>
				<string>Eli Whitney</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who developed &apos;Family Guy&apos;?</string>
			<key>answer</key>
			<string>Seth MacFarlane</string>
			<key>variants</key>
			<array>
				<string>Seth Green</string>
				<string>Chery Chevapravadrumrong</string>
				<string>Seth MacFarlane</string>
				<string>Mathew Grooening</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who played Batman in all &quot;Batman&quot; movies?</string>
			<key>answer</key>
			<string>Christian Bale</string>
			<key>variants</key>
			<array>
				<string>Hugh Jackman</string>
				<string>Christian Bale</string>
				<string>Jason Statham</string>
				<string>Chris Pine</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented electricity?</string>
			<key>answer</key>
			<string>Thomas Edison</string>
			<key>variants</key>
			<array>
				<string>Thomas Edison</string>
				<string>Nicola Tesla</string>
				<string>Henry Ford</string>
				<string>William Wright</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is 44th USA president?</string>
			<key>answer</key>
			<string>Barack Obama</string>
			<key>variants</key>
			<array>
				<string>Bill Clinton</string>
				<string>Bill Gates</string>
				<string>Barack Obama</string>
				<string>George Bush</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
