<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count</key>
	<integer>10</integer>
	<key>questions</key>
	<array>
		<dict>
			<key>question</key>
			<string>Who is author of &quot;Eragon&quot; thrilogy?</string>
			<key>answer</key>
			<string>Christopher Paolini</string>
			<key>variants</key>
			<array>
				<string>Christopher Paolini</string>
				<string>John Palencar</string>
				<string>Stefen Fangmeier</string>
				<string>Joanne Rowling</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who said: “The man who does not read has no advantage over the man who cannot read.”?</string>
			<key>answer</key>
			<string>Mark Twain</string>
			<key>variants</key>
			<array>
				<string>Mark Twain</string>
				<string>Groucho Marx</string>
				<string>Malcolm X</string>
				<string>Jane Austen</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Whos quote it is: &quot;Be yourself; everyone else is already taken.&quot;? </string>
			<key>answer</key>
			<string>Oscar Wilde</string>
			<key>variants</key>
			<array>
				<string>Oscar Wilde</string>
				<string>Mark Twain</string>
				<string>Jack London</string>
				<string>Friedrich Nietzsche</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who said &quot;Don&apos;t cry because it&apos;s over, smile because it happened&quot;?</string>
			<key>answer</key>
			<string>Dr. Seuss</string>
			<key>variants</key>
			<array>
				<string>Dr. Seuss</string>
				<string>Marilyn Monroe</string>
				<string>Oscar Wilde</string>
				<string>Mahatma Gandhi</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who &apos;clearly thinks of himself as a hacker&apos;?</string>
			<key>answer</key>
			<string>Mark Zuckerberg</string>
			<key>variants</key>
			<array>
				<string>Mark Zuckerberg</string>
				<string>Bill Gates</string>
				<string>Steve Jobs</string>
				<string>Jack Dorsey</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who thought that Newtonian mechanics was no longer enough to reconcile the laws of classical mechanics?</string>
			<key>answer</key>
			<string>Albert Einstein</string>
			<key>variants</key>
			<array>
				<string>Albert Einstein</string>
				<string>Michael Faraday</string>
				<string>Wilhelm Röntgen</string>
				<string>Ernest Rutherford</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was Robinson Crusoe bestfriend?</string>
			<key>answer</key>
			<string>Friday</string>
			<key>variants</key>
			<array>
				<string>Friday</string>
				<string>Saturday</string>
				<string>Sunday</string>
				<string>Wednesday</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who author of &quot;The Old Man And The Sea&quot;?</string>
			<key>answer</key>
			<string>Ernest Hemingway</string>
			<key>variants</key>
			<array>
				<string>Ernest Hemingway</string>
				<string>Daniel Defoe</string>
				<string>Oscar Wilde</string>
				<string>Edgar Allan Poe</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was director of &quot;Titanic&quot; movie</string>
			<key>answer</key>
			<string> James Cameron</string>
			<key>variants</key>
			<array>
				<string> James Cameron</string>
				<string>Christopher Nolan</string>
				<string>Martin Scorsese</string>
				<string>Luc Besson</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented tyre?</string>
			<key>answer</key>
			<string>Robert William Thomson</string>
			<key>variants</key>
			<array>
				<string>John Boyd Dunlop</string>
				<string>William Harvey</string>
				<string>Robert William Thomson</string>
				<string>Jack Bentley</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who created james Bond charecter in 1953?</string>
			<key>answer</key>
			<string>Ian Fleming</string>
			<key>variants</key>
			<array>
				<string>John Gardner</string>
				<string>Ian Fleming</string>
				<string>William Boyd</string>
				<string>Sebastian Faulks</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who said: &quot;To be or not to be&quot;?</string>
			<key>answer</key>
			<string>William Shakespear</string>
			<key>variants</key>
			<array>
				<string>William Shakespear</string>
				<string>Jack London</string>
				<string>Paulo Coelho</string>
				<string>Franz Kafka</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who discovered penicillin?</string>
			<key>answer</key>
			<string>Alexander Fleming</string>
			<key>variants</key>
			<array>
				<string>Mary Anning</string>
				<string>Charles Darwin</string>
				<string>Erwin Chargaff</string>
				<string>Alexander Fleming</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was author of the U.S. Declaration of Independence?</string>
			<key>answer</key>
			<string>Thomas Jefferson</string>
			<key>variants</key>
			<array>
				<string>George Washington</string>
				<string>Abraham Lincoln</string>
				<string>William Harrison</string>
				<string>Thomas Jefferson</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who was one of Microsoft co-founder?</string>
			<key>answer</key>
			<string>Paul Allen</string>
			<key>variants</key>
			<array>
				<string>Steve Wozniac</string>
				<string>Paul Allen</string>
				<string>Steve Balmer</string>
				<string>Jonathan Ive</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who developed assembly line?</string>
			<key>answer</key>
			<string>Henry Ford</string>
			<key>variants</key>
			<array>
				<string>Henry Ford</string>
				<string>William Bentley</string>
				<string>Joseph Henry</string>
				<string>Eli Whitney</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who developed &apos;Family Guy&apos;?</string>
			<key>answer</key>
			<string>Seth MacFarlane</string>
			<key>variants</key>
			<array>
				<string>Seth Green</string>
				<string>Chery Chevapravadrumrong</string>
				<string>Seth MacFarlane</string>
				<string>Mathew Grooening</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who played Batman in all &quot;Batman&quot; movies?</string>
			<key>answer</key>
			<string>Christian Bale</string>
			<key>variants</key>
			<array>
				<string>Hugh Jackman</string>
				<string>Christian Bale</string>
				<string>Jason Statham</string>
				<string>Chris Pine</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who invented electricity?</string>
			<key>answer</key>
			<string>Thomas Edison</string>
			<key>variants</key>
			<array>
				<string>Thomas Edison</string>
				<string>Nicola Tesla</string>
				<string>Henry Ford</string>
				<string>William Wright</string>
			</array>
		</dict>
		<dict>
			<key>question</key>
			<string>Who is 44th USA president?</string>
			<key>answer</key>
			<string>Barack Obama</string>
			<key>variants</key>
			<array>
				<string>Bill Clinton</string>
				<string>Bill Gates</string>
				<string>Barack Obama</string>
				<string>George Bush</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
